@font-face {
    font-family: 'HelveticaNeue-Thin';
    src: url('../fonts/HelveticaNeueCyr-Thin.eot');
    src: url('../fonts/HelveticaNeueCyr-Thin.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Thin.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Thin.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HelveticaNeue-Light';
    src: url('../fonts/HelveticaNeueCyr-Light.eot');
    src: url('../fonts/HelveticaNeueCyr-Light.woff') format('woff'), url('../fonts/HelveticaNeueCyr-Light.ttf') format('truetype'), url('../fonts/HelveticaNeueCyr-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    overflow-x: hidden;
}
*{
    font-family: 'HelveticaNeue-Light';
}
h1,h2,.title,.sub-title, .service-title{
    font-family: 'HelveticaNeue-Thin';
}

.header-phone{
    font-size: 25px;
    font-family: 'HelveticaNeue-Thin';
    padding-top: 15px;
    color: #FEFEFE;
}
.content{
    margin: 0 auto;
    max-width: 1400px;
}
.title{
    text-transform: uppercase;
    font-size: 35px;
    color: #FEFEFE;
    /*text-align: center;*/
    font-weight: normal;
}
.sub-title{
    font-size: 25px;
    color: #FEFEFE;
    font-weight: normal;
    padding: 20px 40px;
}
.service-title{
    font-size: 17px;
    text-transform: uppercase;
    padding-top: 25px;
}
.service-image{
    width: 100%;
    max-width: 220px;
    cursor: pointer;
}
.black{
    color: #FEFEFE;
}
.white{
    color: #1f2a2d;
}
.blue{
    color: #00a5d4;
}
.btn-black{
    background: #1b2326;
    color: #FEFEFE;
}
.btn-black:hover{
    color: #FEFEFE;
    background: #1f2a2d;
}

.btn-blue{
    background: #00a5d4;
    color: #FEFEFE;
}
.btn-blue:hover{
    color: #FEFEFE;
    background: #008cb4;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
    outline: none;
}

.menu{
    height: 65px;
    background: #FEFEFE;
}
.menu ul{
    max-width: 1200px;
    display: block;
    margin: 0 auto;
    padding: 0;
}
.navbar-nav li{
    display: inline-block;
    color: #FEFEFE;
    font-size: 18px;
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
}
.navbar-nav li:not(:last-child){
    border-right: 1px solid #555;
}
.navbar-nav li a{
    color: #555;
}
.navbar-nav li.active{
    background: inherit;
}
.navbar-nav li.active a:hover{
    color: #08c5ea;
}
.navbar-nav li.active a{
    color: #08c5ea;
}
.nav>li>a:focus, .nav>li>a:hover{
    background-color: inherit;
    color: #08c5ea;
}

.menu ul li:hover{
    color: #08c5ea;
    cursor: pointer;
}

.menu ul li:not(:last-child){
    border-right: 2px solid #3f474a;
}
/*****************************************************/
.container-fluid.map{
    padding: 0;
}
#page-1{
    padding: 0;
    position: relative;
}

#page-2{
    background: #eff5e7;
    min-height: 400px;
    padding-top: 60px;
}
#page-1 img{
    max-width: 100%;
}
#page-3{
    /*height: 400px;*/
    margin-bottom: 45px;
}
#page-4{
    background: #1f2a2d;
    padding-top: 45px;
    padding-bottom: 45px;
}
#page-5{
    margin-bottom: 45px;
}
#page-6{
    background: url("../images/about.png");
    height: 500px;
}
/*****************************************************/

footer{
    padding-top: 45px;
    background: #1f2a2d;
    /*height: 320px;*/
}
footer label{
    color: #a5a6a8;
}
footer form, footer form .form-group{
    overflow: hidden;
}
footer form{
    max-width: 400px;
}

.certificate{
    width: 180px;
    margin: 0 10px;
}
.brand{
    /*width: 120px;*/
    height: 75px;
    margin: 0 10px;
}
.owl-stage{
    margin: 0 auto;
}
.footer-phone{
    font-size: 25px;
}
.manager{
    font-size: 17px;
    padding-top: 15px;
}
.left-footer{
    margin-bottom: 20px;
}

@media (max-width: 920px) {
    .btn-black{
        margin-bottom: 20px;
    }
    #logo{
        margin-top: 20px;
    }
}
@media (max-width: 930px) {
    .navbar-nav li{
        /*padding-left: 12px;*/
        /*padding-right: 12px;*/
    }
}
@media (max-width: 767px) {
    .navbar-nav li{
        display: block;
        text-align: left !important;
        width: 100% !important;
        border-right: 0 !important;
    }
    .page-1-content{
        top: 0 !important;
        left: 0 !important;
        right: 0 !important;
        text-align: center !important;
        margin-left: 0 !important;
    }
}
@media (max-width: 500px) {
    .header-phone{
        font-size: 18px;
    }
}
.navbar-nav{
    width: 100%;
}
.navbar-nav li{
    width: 20%;
    text-align: center;
}
.navbar{
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-black{
    /*background: #1b2326;*/
}
.menuFixed{
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    z-index: 150;
    background: #FEFEFE;
}
.icon-bar{
    background: #FEFEFE;
}
#logo2{
    display: none;
}
#logo2 img{
    margin-top: -13px;
    height: 45px;
}
a .btn-black{
    color: #FEFEFE;
}
.page-1-content{
    position: absolute;
    max-width: 600px;
    width: 100%;
    left: 50%;
    margin-left: -300px;
    top: 50px;
    text-align: center;
}
.page-1-content img {
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: linear;
}

.page-1-content img:hover {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: linear;
}
.first-title{
    font-family: "HelveticaNeue-Thin";
    font-size: 40px;
    color: #FEFEFE;
}
p{
    font-size: 16px;
}
.header{
    background: #1f2a2d;
}
.page-6-content{
    margin-left: 150px;
}
.owl-prev{
    position: absolute;
    top: 80px;
    left: 0;
    background: url("../images/ar-left.png");
    width: 20px;
    height: 37px;
}
.owl-next{
    position: absolute;
    top: 80px;
    right: 0;
    background: url("../images/ar-right.png");
    width: 20px;
    height: 37px;
}
.slider{
    margin-left: -20px;
    margin-right: -20px;
}
.service-description{
    position: absolute;
    top: -60px;
    left: 0px;
    right: 0px;
    z-index: 100;
    background: #FEFEFE;
    display: none;
    padding: 55px 10px 10px 10px ;
    border-top: 5px solid #1f2a2d;
    height: 647px;
    overflow: hidden;
}
.service-description-bootom{
    position: absolute;
    top: -60px;
    left: 0px;
    right: 0px;
    z-index: 100;
    background: #FEFEFE;
    display: none;
    padding: 55px 10px 10px 10px ;
    border-top: 5px solid #1f2a2d;
    height: 647px;
    overflow: hidden;
}
.service-bottom{
    top: -354px;
}
.service-item{
    position: relative;
}
.service-txt{
    height: 294px;
    overflow: hidden;
}
